.gradle/2.10/taskArtifacts/cache.properties
.gradle/2.10/taskArtifacts/cache.properties.lock
.gradle/2.10/taskArtifacts/fileHashes.bin
.gradle/2.10/taskArtifacts/fileSnapshots.bin
.gradle/2.10/taskArtifacts/outputFileStates.bin
.gradle/2.10/taskArtifacts/taskArtifacts.bin
.gradle/2.10/tasks/_app_compileDebugAndroidTestJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.10/tasks/_app_compileDebugAndroidTestJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.10/tasks/_app_compileDebugAndroidTestJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.10/tasks/_app_compileDebugAndroidTestJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/2.10/tasks/_app_compileDebugUnitTestJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.10/tasks/_app_compileDebugUnitTestJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.10/tasks/_app_compileDebugUnitTestJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.10/tasks/_app_compileDebugUnitTestJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/2.4/taskArtifacts/cache.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
.idea/libraries/animated_vector_drawable_23_3_0.xml
.idea/libraries/appcompat_v7_23_3_0.xml
.idea/libraries/butterknife_8_0_1.xml
.idea/libraries/butterknife_annotations_8_0_1.xml
.idea/libraries/converter_gson_2_0_0.xml
.idea/libraries/converter_scalars_2_0_0.xml
.idea/libraries/couchbase_lite_android_1_2_1.xml
.idea/libraries/couchbase_lite_android_sqlite_default_1_2_1.xml
.idea/libraries/couchbase_lite_java_core_1_2_1.xml
.idea/libraries/design_23_3_0.xml
.idea/libraries/gson_2_6_2.xml
.idea/libraries/hamcrest_core_1_3.xml
.idea/libraries/jackson_annotations_2_5_0.xml
.idea/libraries/jackson_core_2_5_0.xml
.idea/libraries/jackson_databind_2_5_0.xml
.idea/libraries/junit_4_12.xml
.idea/libraries/okhttp_3_2_0.xml
.idea/libraries/okio_1_6_0.xml
.idea/libraries/picasso_2_5_2.xml
.idea/libraries/recyclerview_v7_23_3_0.xml
.idea/libraries/retrofit_2_0_0.xml
.idea/libraries/stateless4j_2_4_0.xml
.idea/libraries/support_annotations_23_3_0.xml
.idea/libraries/support_v4_23_3_0.xml
.idea/libraries/support_vector_drawable_23_3_0.xml
.idea/workspace.xml
app/
build/generated/mockable-android-23.jar
keys.properties
local.properties
build/
